<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - proyectoinefrable</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header class="header">
       
            
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="logo">
                <h1>inefrable bb</h1>
            </div>
            <nav class="menu">
                <div class="nav_center">
                    <div class="nav_logo">
                        <h1> inefable <span>project</span></h1>
                    </div>

                    <ul class="nav_list">
                        <span>
                            <i class="bx bxs-watch"></i>
                        </span>

                        <div class="carrito_icon">
                            <i class="bx bx-cart"> </i>
                            <span class="item_total"> 0 </span>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a asp-area="" asp-controller="Home" asp-action="Index">inicio</a>
                <a asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Suscribirse</a>
                <a href="#">cargar producto</a>
                <a href="#">mis productos</a>
                <a href="#"></a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - proyectoinefrable - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
